{% extends "base.html" %} {% block title %} Purchase Stock {% endblock %} {%
block content %}

<h3>Purchase Stock</h3>
<form method="POST" action="/purchase">
  <label for="username">Username:</label>
  <input type="text" name="username" required /><br /><br />
  <label for="password">Password:</label>
  <input type="password" name="password" required /><br /><br />
  <label for="ticker">Stock Ticker:</label>
  <input type="text" name="ticker" required /><br /><br />
  <label for="amount">Amount:</label>
  <input type="number" name="amount" required /><br /><br />
  <input type="submit" value="Purchase" />
</form>
{% endblock %}
